<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize6.css">
  <!-- <link rel="stylesheet" href="!!!!!!!!"> -->
</head>
<body>
  <nav>
    <ul>
      <li><a href="!!!">All Students</a></li>
      <li><a href="!!!">Nothing Yet</a></li>
    </ul>
  </nav>
  <%= yield  %>
</body>
</html>