<% @students.each do |student| %>
<p>Student: <%= student.first_name %> <%= student.last_name %></p>
<p><a href="/students/<%=student.id%>">Student Details</a></p>

<br/>
<form method='post' action='/students/<%= student.id %>/delete'>
    <input type="submit" value="Delete Student">
</form>
<hr/>
<% end %>
